<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="NOMBRE_PROGRAMA" value="FLUCOL"/>
      <add key="MODULO" value="1"/>
      <add key="AGENCIA" value="1"/>
      <add key="CLIENTE" value="1"/>
      <!--
        RECEPCIÓN  = 1,
        PUBLICIDAD = 2,
        OPERACIONES = 3
      -->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>