<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="USUARIO" value="usuarios_finales"/>
      <add key="CONFIGURACION" value="flucoldb"/>
      <add key="HOSTNAME" value="192.168.0.101"/>
      <add key="DATABASE" value="flucol_db"/>
      <add key="PUERTO" value="5433"/>
      <add key="NOMBRE_PROGRAMA" value="FLUCOL"/>
      <add key="AGENCIA" value="1"/>
      <add key="CLIENTE" value="1"/>
      <add key="IMPRESORA_TICKETS" value="POS-X Thermal Printer"/>
      <add key="MODULO" value="3"/>
      <!--
            MODULO
        //////////////
        RECEPCIÓN  = 1,
        PUBLICIDAD = 2,
        OPERACIONES = 3
      -->
      
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>