<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CLIENTE" value="1"/>
    <add key="AGENCIA" value="1"/>
    <add key="MODULO" value="1" />
    <!-- 
         PANTALLAS:
         RECEPCION = 1,
         VISUALIZADOR = 2,
         OPERACIONES = 3,
         SUPERVISOR = 4
    -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>