<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="USUARIO" value="usuarios_finales" />
    <add key="CONFIGURACION" value="flucoldb" />
    <add key="HOSTNAME" value="localhost" />
    <add key="DATABASE" value="flucol_db" />
    <add key="PUERTO" value="5433" />
    <add key="NOMBRE_PROGRAMA" value="FLUCOL" />
    <add key="AGENCIA" value="1" />
    <add key="CLIENTE" value="1" />
    <add key="IMPRESORA_TICKETS" value="POS-X Thermal Printer" />
    <add key="MODULO" value="1" />
    <!--
            MODULO
        //////////////
        RECEPCIÓN  = 1,
        PUBLICIDAD = 2,
        OPERACIONES = 3
      -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>