<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="0.8.1" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.0.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="3.0.0" targetFramework="net461" />
  <package id="VLC.Native" version="3.0.5" targetFramework="net461" />
</packages>